<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel='stylesheet' href='/stylesheet/styles.css' />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/scripts/edit.js"></script>

    <title>Edit</title>


</head>

<body>
    <div class="container">
        <div class="row justify-content-center form-row">
            <div class="col-sm-12 col-md-8 col-lg-6">
                <div class="col-sm-12 form-legend">
                    <h2>Edit Employee</h2>
                </div>
                <div class="col-sm-12 form-column">
                    <form action="/api/candidate/update" id="reg_form" method="post">
                        <% if(success !=''){%>
                        <div class="alert alert-success">
                            <strong>Success!</strong> <%= success %>
                        </div>
                        <% } %>

                        <% if(error !=''){%>
                        <div class="alert alert-danger">
                            <strong>Error!</strong> <%= error %>
                        </div>
                        <% } %>

                        <input type="hidden" name="candidate_id" value="<%= records._id %>">

                        <!-- What is this for ?? -->
                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>
                        <!------->

                        <input type="hidden" name="date" class="form-control" value="<%= records.date %>">

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" class="form-control" value="<%= records.name %>">
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" class="form-control"
                                value="<%= records.email %>">
                        </div>

                        <div class="form-group">
                            <label for="position">Position</label>
                            <input type="text" id="position" name="position" class="form-control"
                                value="<%= records.position %>">
                        </div>
                        <div class="form-group">
                            <label for="experience">Experience</label>
                            <input type="text" id="experience" name="experience" class="form-control"
                                value="<%= records.experience %>">
                        </div>
                        <div class="form-group">
                            <label for="qualification">Qualification</label>
                            <input type="text" id="qualification" name="qualification" class="form-control"
                                value="<%= records.qualification %>">
                        </div>
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input type="text" id="location" name="location" class="form-control"
                                value="<%= records.location %>">
                        </div>
                        <div class="form-group">
                            <label for="dob">DOB</label>
                            <input type="date" id="dob" name="dob" class="form-control"
                                value="<% if(records.dob){%><%= records.dob.toISOString().substr(0, 10); %><% } %>">
                        </div>
                        <div class="form-group">
                            <label for="candidateRating">Candidate Rating</label>
                            <input type="text" id="candidateRating" name="candidateRating" class="form-control"
                                value="<%= records.candidateRating %>">
                        </div>
                        <div class="form-group">
                            <label for="salarys">Salary</label>
                            <input type="text" id="salary" name="salary" class="form-control"
                                value="<%= records.salary %>">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" id="phone" name="phone" class="form-control"
                                value="<%= records.phone %>">
                        </div>

                        <div class="form-group companies_input_fields_wrap">
                            <label for="companiesWorked">Companies Worked</label>

                            <div class="companies-entry">
                                <input type="text" name="companiesWorked" class="form-control">
                                <span>
                                    <button class="add_companies_button btn btn-success">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                            </div>
                            <% for (const company_row of records.companiesWorked){ %>
                            <div class="companies-entry">
                                <input type="text" name="companiesWorked" class="form-control"
                                    value="<%= company_row %>">
                                <span>
                                    <button class="remove_companies btn btn-danger">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </span>
                            </div>
                            <%}%>
                        </div>

                        <div class="form-group skills_input_fields_wrap">
                            <label for="skills">Skills</label>

                            <div class="skills-entry">
                                <input type="text" name="skills" class="form-control">
                                <span>
                                    <button class="add_skills_button btn btn-success">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                            </div>
                            <% for (const skill_row of records.skills){ %>
                            <div class="skills-entry">
                                <input type="text" name="skills" class="form-control" value="<%= skill_row %>">
                                <span>
                                    <button class="remove_skills btn btn-danger">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </span>
                            </div>
                            <%}%>

                      </div>

                      <div class="form-group">
                        <label for="sel1">Select status:</label>
                            <select class="form-control" id="sel1" name="status">
                                <% if(records.status == 0){ %>
                            <option selected value="0">Not Verified</option>
                            <option value="1"> Verified</option>
                            <%} else if(records.status == 1){%>
                            <option selected value="1">Verified</option>
                            <option value="0">Not Verified</option>
                            <% } %>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="interviewFeedback">Interview Feedback</label>
                            <textarea id="interviewFeedback" rows="5" name="interviewFeedback"
                                class="form-control"><%= records.interviewFeedback %></textarea>
                        </div>

                        <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
</body>

</html>
