<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel='stylesheet' href='/styles.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <title>List</title>

</head>

<body>

    <!--CANDIDATE FILTER BOX-->
    <div class="list col-lg-12">
        <div class="row heading-row">
            <h1>Filter Candidate Details</h1>

            <div class="col-lg-12">
                <div class="col-lg-6 mx-auto">
                    <% if(error !=''){%>
                    <div class="alert alert-danger">
                        <strong>Error!</strong> <%= error %>
                    </div>
                    <% } %>
                </div>
                <form action="/api/candidate/search" id="EmployeeForm" class="form-horizontal" method="post"
                    role="form">

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="name" class="col-md-12 control-label">By Position</label>
                            <div class="col-md-12">
                                <input type="text" id="search-position" class="form-control" name="fltrposition"
                                    placeholder="Position">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="email" class="col-md-12 control-label">By Skill</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="fltrskill" id="search-skills"
                                    placeholder="Enter Skill">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="email" class="col-md-12 control-label">&nbsp;</label>

                            <div class="col-md-12">
                                <input type="submit" class="form-control btn btn-primary" name="submit"
                                    placeholder="Filter">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- CANDIDATE LISTS -->
    <div class="list col-lg-12 mx-auto">
        <div class="row heading-row">
            <h1>Candidate Details</h1>
        </div>
        <div class="row row-list mx-auto">
            <div class="container table-responsive-sm col-lg-12">

                <table class="table table-striped mx-auto" id="list-candidates">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Date</th>
                            <th>Position</th>
                            <th>Experience</th>
                            <th>Qualification</th>
                            <th>Candidate Rating</th>
                            <th>Salary</th>
                            <th>Phone</th>
                            <th>Companies Worked</th>
                            <th>Skills</th>
                            <th>Interview Feedback</th>
                            <th>Resume URL</th>
                            <th>Edit/Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%if (records.length >0){ %>
                        <% records.forEach(function(row){ %>

                        <tr>
                            <td><%= row.name %></td>
                            <td><%= row.email %></td>
                            <td><%= row.date %></td>
                            <td><%= row.position %></td>
                            <td><%= row.experience %></td>
                            <td><%= row.qualification %></td>
                            <td><%= row.candidateRating %></td>
                            <td><%= row.salary %></td>
                            <td><%= row.phone %></td>
                            <td><%= row.companiesWorked %></td>
                            <td><%= row.skills %></td>
                            <td><%= row.interviewFeedback %></td>
                            <td><%= row.resumeURL %></td>
                            <td><a class="btn btn-primary btn-sm" href="/api/candidate/edit/<%= row._id %>"><i
                                        class="fa fa-edit"></i></a>
                                <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmModal<%= row._id %>"><i
                                        class="fa fa-trash"></i></a>
                                        <!-- Confirm Delete Modal, id  is made with row_id -->
                                        <div class="modal fade" id="confirmModal<%= row._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel"><strong>Confirm Deletion</strong></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                Delete candidate entry from database.
                                              </div>
                                              <div class="modal-footer">
                                                <a type="button" class="btn btn-secondary" data-dismiss="modal">Close</a>
                                                <a type="button" class="btn btn-danger" href="/api/candidate/delete/<%= row._id %>">Confirm</a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <!-- End Confirm Delete Modal -->
                            </td>
                        </tr>
                        <% })}else{ %>
                        <tr>
                            <td colspan="6">No Record Found</td>

                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {

            // Data Table
            $('#list-candidates').DataTable();


            // Position Autocomplete
            $('#search-position').autocomplete({
                source: function (req, res) {
                    $.ajax({
                        url: '/api/candidate/list/autocomplete/position',
                        dataType: 'jsonp',
                        type: 'GET',
                        data: req,
                        success: function (data) {
                            res(data);
                        },
                        error: function (err) {
                            console.log(err.status);
                        }
                    });
                },

                minLength: 1,
                select: function (event, ui) {
                    if (ui.items) {
                        $('#search-position').text(ui.item.label);
                    }
                }
            });

            // Skills Autocomplete
            $('#search-skills').autocomplete({
                source: function (req, res) {
                    $.ajax({
                        url: '/api/candidate/list/autocomplete/skills',
                        dataType: 'jsonp',
                        type: 'GET',
                        data: req,
                        success: function (data) {
                            res(data);
                        },
                        error: function (err) {
                            console.log(err.status);
                        }
                    });
                },

                minLength: 1,
                select: function (event, ui) {
                    if (ui.items) {
                        $('#search-position').text(ui.item.label);
                    }
                }
            });
        });

    </script>
    <script>
    </script>
</body>

</html>
