<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel='stylesheet' href='/styles.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <title>List</title>

</head>

<body>
    <div class="list">
        <div class="row row-list">
            <table class="table table-striped table-primary">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Date</th>
                        <th>Position</th>
                        <th>Experience</th>
                        <th>Qualification</th>
                        <th>Candidate Rating</th>
                        <th>Salary</th>
                        <th>Phone</th>
                        <th>Companies Worked</th>
                        <th>Skills</th>
                        <th>Interview Feedback</th>
                        <th>Resume URL</th>
                    </tr>
                </thead>
                <tbody>
                    <%if (records.length >0){ %>
                    <% records.forEach(function(row){ %>
                    <tr>
                        <td><%= row.name %></td>
                        <td><%= row.email %></td>
                        <td><%= row.date %></td>
                        <td><%= row.position %></td>
                        <td><%= row.experience %></td>
                        <td><%= row.qualification %></td>
                        <td><%= row.candidateRating %></td>
                        <td><%= row.salary %></td>
                        <td><%= row.phone %></td>
                        <td><%= row.companiesWorked %></td>
                        <td><%= row.skills %></td>
                        <td><%= row.interviewFeedback %></td>
                        <td><%= row.resumeURL %></td>
                        <td><a class="btn btn-primary btn-xs" href="/api/candidate/edit/<%= row._id %>"><i
                                    class="fa fa-edit"></i></a>
                            <a class="btn btn-danger btn-xs" href="/api/candidate/delete/<%= row._id %>"><i
                                    class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    <% })}else{ %>
                    <tr>
                        <td colspan="6">No Record Found</td>

                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>