<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel='stylesheet' href='/stylesheet/styles.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/stylesheet/" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/scripts/list.js"></script>

    <title>List</title>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Resume System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

            </ul>
            <form class="form-inline my-2 my-lg-0" action="/api/candidate/adminlogout">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Logout">
            </form>
        </div>
    </nav>

    <!--CANDIDATE FILTER BOX-->
    <div class="list col-lg-12">
        <div class="row heading-row">
            <h1>Filter Candidate Details</h1>

            <div class="col-lg-12">
                <div class="col-lg-6 mx-auto">
                    <% if(error !=''){%>
                    <div class="alert alert-danger">
                        <strong>Error!</strong> <%= error %>
                    </div>
                    <% } %>
                </div>
                <form action="/api/candidate/search" id="EmployeeForm" method="post" role="form">

                    <div class="row justify-content-center mx-auto mt-5">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="filterposition" class="col-md-12 control-label">By Position</label>
                                <div class="companies-entry col-md-12">
                                    <input type="text" id="search-position" class="form-control" name="filterposition"
                                        placeholder="Position">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group skills_input_fields_wrap ">
                                <label for="filterskill" class="col-md-12 control-label">By Skill</label>
                                <div class="skills-entry col-md-12">
                                    <input type="text" name="filterskill" class="form-control" id="search-skills"
                                        placeholder="Enter Skill">
                                    <button class="add_skills_button btn btn-success">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="experience" class="col-md-12 control-label">By Experience</label>
                                <div class="exp-entry col-md-12">
                                    <input type="text" name="filterExpMin" class="form-control" placeholder="Min">
                                    <input type="text" name="filterExpMax" class="form-control ml-2" placeholder="Max">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="salary" class="control-label">By Salary</label>
                                <div class="sal-entry col-md-12">
                                    <input type="text" name="filterSalMin" class="form-control" placeholder="Min">
                                    <input type="text" name="filterSalMax" class="form-control ml-2" placeholder="Max">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="email" class="col-lg-6 control-label">&nbsp;</label>

                                <div class="companies-entry col-lg-6">
                                    <input type="submit" class="form-control btn btn-primary" name="submit"
                                        placeholder="Filter">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center mx-auto mt-3">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="search-name" class="col-md-12 control-label">By Name</label>
                                <div class="companies-entry col-md-12">
                                    <input type="text" id="search-name" class="form-control" name="filtername"
                                        placeholder="Name">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="search-qualification" class="col-md-12 control-label">By
                                    Qualification</label>
                                <div class="companies-entry col-md-12">
                                    <input type="text" id="search-qualification" class="form-control"
                                        name="filterqualification" placeholder="Qualification">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="sel1">Select status:</label>
                                <div class="companies-entry col-md-8">
                                    <select class="form-control" id="sel1" name="selectStatus">
                                        <option value="0" <% if(select_status == 0){%>selected<%}%> >Not Verified</option>
                                        <option value="1" <% if(select_status == 1){%>selected<%}%> >Verified</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- CANDIDATE LISTS -->
    <div class="list col-lg-12 mx-auto">
        <div class="row heading-row">
            <h1>Candidate Details</h1>
        </div>
        <div class="row row-list mx-auto">
            <div class="container flex-column col-lg-12">

                <table class="table table-responsive-sm mx-auto" id="list-candidates">
                    <thead class="thead-dark">
                        <tr>
                            <th>Date<a class="ml-5 sort-symbol" href="/api/candidate/sort/email"><i
                                      class="fa fa-sort"></i></a></th>
                            <th>Name <a class="ml-5 sort-symbol" href="/api/candidate/sort/name"><i
                                        class="fa fa-sort"></i></a></th>
                            <th>Position<a class="ml-5 sort-symbol" href="/api/candidate/sort/position"><i
                                        class="fa fa-sort"></i></a></th>
                            <th>Experience<a class="ml-5 sort-symbol" href="/api/candidate/sort/experience"><i
                                        class="fa fa-sort"></i></a>
                            </th>
                            <th>Qlfn.<a class="ml-5 sort-symbol" href="/api/candidate/sort/qualification"><i
                                        class="fa fa-sort"></i></a>
                            </th>
                            <th>Rating<a class="ml-5 sort-symbol"
                                    href="/api/candidate/sort/candidateRating"><i class="fa fa-sort"></i></a></th>
                            <th>Salary<a class="ml-5 sort-symbol" href="/api/candidate/sort/salary"><i
                                        class="fa fa-sort"></i></a>
                            </th>
                            <th>Phone<a class="ml-5 sort-symbol" href="/api/candidate/sort/phone"><i
                                        class="fa fa-sort"></i></a>
                            </th>
                            <th>Companies Worked</th>
                            <th>Skills</th>
                            <th>Interview Feedback</th>
                            <th>Email</th>
                            <th>Resume</th>
                            <th>Edit/Delete
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <%if (records.length >0){ %>
                        <% records.forEach(function(row){ %>
                        <% if(row.status == 1){%>
                        <tr style="background-color: #ccffcc">
                            <td width="6%"><%= row.date.toLocaleString('en-IN',{year: 'numeric', month: 'numeric', day: 'numeric' }) %></td>
                            <td style="word-break:normal;" width="8%"><%= row.name %></td>
                            <td style="word-break:normal;" width="5%"><%= row.position.replace(/\b\w+/g,function(s){return s.charAt(0).toUpperCase() + s.substr(1).toLowerCase();}); %></td>
                            <td><%= row.experience %></td>
                            <td width="4%"><%= row.qualification %></td>
                            <td width="2%"><%= row.candidateRating %></td>
                            <td width="8%"><%= row.salary.toLocaleString('en-IN') %></td>
                            <td width="9%"><%= row.phone %></td>
                            <td style="word-break:normal;" width="10%">
                                <% for(comp of row.companiesWorked) {%>
                                  *<%=comp%><br>
                                <% } %>
                            </td>
                            <td width="8%"><% for(sk of row.skills) {%>
                              *<%=sk%><br>
                            <% } %></td>
                            <td width="15%">
                                <button type="button" class="btn" data-toggle="collapse"
                                    data-target="#demo<%= row._id %>">Expand...</button>
                                <div id="demo<%= row._id %>" class="collapse"><%= row.interviewFeedback %></div>
                            </td>
                            <td><%= row.email %></td>
                            <td><a class="btn btn-success btn-sm" href="<%= row.resumeURL %>">
                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>

                            <td><a class="btn btn-primary btn-sm" href="/api/candidate/edit/<%= row._id %>"
                                    target="_blank"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-danger btn-sm" data-toggle="modal"
                                    data-target="#confirmModal<%= row._id %>"><i class="fa fa-trash"></i></a>
                                <!-- Confirm Delete Modal, id  is made with row_id -->
                                <div class="modal fade" id="confirmModal<%= row._id %>" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel"><strong>Confirm
                                                        Deletion</strong></h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Delete candidate entry from database.
                                            </div>
                                            <div class="modal-footer">
                                                <a type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</a>
                                                <a type="button" class="btn btn-danger"
                                                    href="/api/candidate/delete/<%= row._id %>">Confirm</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Confirm Delete Modal -->
                            </td>
                        </tr>
                        <% } else {%>
                        <tr>
                            <td width="6%"><%= row.date.toLocaleString('en-IN',{year: 'numeric', month: 'numeric', day: 'numeric' }) %></td>
                            <td  style="word-break:normal;" width="8%"><%= row.name %></td>
                            <td style="word-break:normal;" width="5%"><%= row.position.replace(/\b\w+/g,function(s){return s.charAt(0).toUpperCase() + s.substr(1).toLowerCase();}); %></td>
                            <td><%= row.experience %></td>
                            <td width="4%"><%= row.qualification %></td>
                            <td width="2%"><%= row.candidateRating %></td>
                            <td width="8%"><%= row.salary.toLocaleString('en-IN') %></td>
                            <td width="9%"><%= row.phone %></td>
                            <td style="word-break:normal;" width="10%">
                                <% for(comp of row.companiesWorked) {%>
                                  *<%=comp%><br>
                                <% } %>
                            </td>
                            <td width="8%">
                                <% for(sk of row.skills) {%>
                                  *<%=sk%><br>
                                <% } %>
                            </td>
                            <td width="15%">
                                <button type="button" class="btn" data-toggle="collapse"
                                    data-target="#demo<%= row._id %>">Expand...</button>
                                <div id="demo<%= row._id %>" class="collapse"><%= row.interviewFeedback %></div>
                            </td>
                            <td><%= row.email %></td>
                            <td><a class="btn btn-success btn-sm" href="<%= row.resumeURL %>">
                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>

                            <td><a class="btn btn-primary btn-sm" href="/api/candidate/edit/<%= row._id %>"
                                    target="_blank"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-danger btn-sm" data-toggle="modal"
                                    data-target="#confirmModal<%= row._id %>"><i class="fa fa-trash"></i></a>
                                <!-- Confirm Delete Modal, id  is made with row_id -->
                                <div class="modal fade" id="confirmModal<%= row._id %>" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel"><strong>Confirm
                                                        Deletion</strong></h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Delete candidate entry from database.
                                            </div>
                                            <div class="modal-footer">
                                                <a type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</a>
                                                <a type="button" class="btn btn-danger"
                                                    href="/api/candidate/delete/<%= row._id %>">Confirm</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Confirm Delete Modal -->
                            </td>
                        </tr>
                        <% }%>

                        <% })}else{ %>
                        <tr>
                            <td colspan="6">No Record Found</td>

                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <% if (pages > 0) { %>
                <ul class="pagination text-center">
                    <% if (current == 1) { %>
                    <li class="disabled"><a class="page-link">First</a></li>
                    <% } else { %>
                    <li><a class="page-link" href="/api/candidate/list/1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                    <li class="disabled"><a class="page-link">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                    <li class="active"><a class="page-link"><%= i %></a></li>
                    <% } else { %>
                    <li><a class="page-link" href="/api/candidate/list/<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="disabled"><a class="page-link">...</a></li>
                    <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                    <li class="disabled"><a class="page-link">Last</a></li>
                    <% } else { %>
                    <li><a class="page-link" href="/api/candidate/list/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
                <% } %>
            </div>
        </div>
    </div>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

</body>

</html>
